body {
	background-color: #FFFFFF;
	/*background-image: url("bgimg.JPG");*/
	margin:0px;
	padding:0px;
	font-weight:normal;
	font-family: Optima, Tahoma, Times;
}

header {
	text-align:center;
	background-color:#52527A;
	color:#FFFFFF;
	top: 0%;
	overflow:scroll;
	width: 100%;
	box-shadow: 0px 1px 50px #5E5E5E;
	z-index:10;
}


header h1 {
	padding-left:2%;
	text-transform:uppercase;
	display:inline;
	float:left;
	font-size:26px;
}

.nav ul{
	list-style:none;
	float:left;
	padding-top:0.5%;
}

.nav li{
	display: inline;
	margin-left:10px;
	margin-right:10px;
	font-size:18px;
	padding:5px; 
}

header a {
	text-decoration: none;
	color:#FFFFFF;
}

a:hover {
	color:#99CC00;
}

.homepic {
	width:100%;
	height:100%;
	float:middle;
	position:relative;
}

.homepic img{
	width:100%;
	height:100%;
	background-size:cover;
	background-repeat:no-repeat;
	float:middle;
}

.homecap {
    position:absolute; /* absolute position (so we can position it where we want)*/  
	bottom:0%;
	left:0%;
	width:100%;
	background-color:black;
	color:white;
	opacity:0.6;
	filter:alpha(opacity=60);
}

.captext {
	text-align:center;
	font-size:20px;
}

.media {
	text-align:left;
	padding:10px;
	border-bottom:solid;
	width:50%;
}

.media a {
	text-decoration:none;
	font-size:24px;
	color:gray;
}

.media a:hover {
	color:#99CC00;
}

.media p {

}

#mediapicchamps {
	float:right;
	width:40%;
	margin-top:15%;
}

#mediapicdrill {
	float:right;
	width:27%;
	margin-top:10%;
	margin-right:6.5%;
}

.rotate90 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

section {
	margin-left:10%;
	margin:auto;
	margin-top:2%;
	text-align:middle;
	width:54%;
}

#home a {
	color:#DB7093;
	font-weight:bold;
}

#home a:hover {
	color:#99CC00;
}


#photosection {
	border-style:solid;
	border-color:#000000;
	width:75%;
	margin:auto;
}

#photosection img {
	margin:14px;
	width:30%;
}

.blog article{
	width:60%;
	margin:auto;
}

.blog h2 {
	text-align:center;
}

.description p {
	border-style:solid;
	border-color:#000000;
	width:40%;
	margin:auto;
	padding:10px;
	margin-top:2%;
}

.resume {
	border-style:solid;
	border-color:#000000;
	width:40%;
	margin:auto;
	padding:10px;
	margin-top:2%;
}

footer {
	background-color:#52527A;
	color:white;
}

footer ul li {
	display:inline;
	padding-right:23%;
}

footer a {
	color:white;
}
