
body {
	font-family: 'Thasadith', sans-serif;
}

h1 {
	font-family: 'Zeyada', cursive;
	text-align: center;
	font-size: 60px;
	margin: 0;
}


#header > nav {
	margin-bottom: 30px;
	overflow: hidden;
}

#header > nav ul {
	text-align: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

#header > nav ul li {
	font-size: 20px;
	padding: 15px;
	display: inline;
}

#header > nav ul li a {
	border: 0;
	color: #b4a4c4;
	font-weight: 700;
	margin-right: 10px;
	text-decoration: none;
}

#header > nav ul li:hover a {
	color: #659e94;
}

#worksection {
	margin-bottom: 50px;
}

#worksection > #item {
	width: 50em;
	margin-left: auto;
    margin-right: auto;
    padding: 0px;
    float: center;
	margin-top:10px;
	margin-bottom: 10px;
}

#worksection > #line-header {
	width: auto;
	float: left;
}

#worksection > #line-header > h3 {
	font-weight: 700;
	font-size: 30px;

	margin-left: 90px;

	padding-bottom: 2px;
	border-bottom: 4px solid #b4a4c4;
	color: #636466;
}

#worksection > #item > h4 {
	margin: 0;
	font-size: 20px;
}

#worksection > #item > h6{
	margin: 0;
	font-size: 18px;
	font-style: italic;
}

#worksection > #item > p {
	margin: 0;
}

#worksection > #item > p > a {
	font-weight: bold;
	text-decoration: none;
	color: #b4a4c4;
}

#worksection > #item > p > a:hover {
	color: #659e94;
}

#index-body {
	width: 40em;
	margin: auto;
	float: center;
}

#index-body > img {
	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
}

#index-body > p {
	font-weight: 700;
	color: #71767f;
}

#index-body > p > a {
	font-weight: bold;
	text-decoration: none;
	color: #b4a4c4;
}

#index-body > p > a:hover {
	color: #659e94;
}

#footer .copyright {
	text-align: center;
	list-style: none;
}
